.dashboard-container {
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  overflow: hidden;
}

.header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow to the text */
  letter-spacing: 1px; /* Adds spacing between letters for clarity */
  animation: fadeIn 1s ease; 
  animation-fill-mode: forwards;
  opacity: 0; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.tabs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Allow vertical scrolling */
  flex: 1; /* Take available vertical space */
}
/* 
.tab-list {
  background-color: rgba(255, 255, 255, 0.8); 
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  box-sizing: border-box;
} */

.tab {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px; 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  max-width: 30vh; 
  text-align: center;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Darker background on hover */
}
.tab-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab-panel {
  width: 100vh; 
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; 
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}




.tab-panel-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.chart-container {
  width: 100%;
  max-width: 600px; /* Adjust max width as needed */
  margin: 0 auto;
}

.additional-stats-list {
  list-style-type: none;
  padding: 0;
}

.additional-stats-item {
  font-size: 18px;
  margin-bottom: 10px;
}

.awards-list {
  list-style-type: none;
  padding: 0;
}

.award-item {
  font-size: 18px;
  margin-bottom: 10px;
}
